<div class="col-12" style="text-align: center; margin-top: 16px;">
  <h5>Test Mr.Tanatip Kimkathanom</h5>
    <p>section1</p>
      <a class="nav-link" routerLink = "/question1" routerLinkActive="active">Question 1</a>
      <a class="nav-link" routerLink = "/question2" routerLinkActive="active">Question 2</a>
      <a class="nav-link" routerLink = "/question3" routerLinkActive="active">Question 3</a>
      <a class="nav-link" routerLink = "/question4" routerLinkActive="active">Question 4</a>
    <br>
    <p>section2</p>
      <a class="nav-link" routerLink = "/s2-question1" routerLinkActive="active">S2-Question 1</a>
      <a class="nav-link" routerLink = "/s2-question2" routerLinkActive="active">S2-Question 2</a>
</div>

